@import url('https://fonts.googleapis.com/css?family=Lato');

.navTopSticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 2;
}

.navTopContainer{
    min-width: 100vw;
    max-width: 100vw;
    height: 135px;
    background: #FFF; 
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-around;
    /* -webkit-clip-path: polygon(0 1%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0 1%, 100% 30%, 100% 100%, 0% 100%); */
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;

}

.restOfLinks{
    width: 700px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	/* align-items: center; */
    /* align-content: space-around; */
    align-items: flex-end;
    font-family: 'Lato', sans-serif;
    /* background: #FFF; */
    /* margin-top: 45px; */
    /* overflow-x: hidden; */
    margin-bottom: 15px;
}

.linkStyle{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.TopNavName{
    font-family: 'Lato', sans-serif;
    color: #56C5FD;
    font-size: 3.5em;
    align-items: center;
}

.logoNavTop{
    height: 130px;
    width: 300px;
    position: fixed;
    object-fit: contain;
    overflow: hidden;
    top: 0px;
    left: 250px;
}

.containNavTopImg{
    height: 5px;
    width: 7px;
    object-fit: fill;
    overflow: hidden;
}


.bottomDividerNavTop{
    width: 100vw;
    background: #0C4B69;
    height: 5px;
    /* margin-top: 20px; */
}
